<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <div class="card" *ngIf="addControllerBoolean">
        <div class="card-header">
          <button class="btn btn-info float-right" (click)="addController()">
            Add new Controller
          </button>
        </div>
        <div class="card-body" *ngIf="addFormBoolean">
          <form [formGroup]="newControllerForm">
            <table class="table">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>IP</td>
                  <td>Save</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" formControlName="name"></td>
                  <td><input type="text" formControlName="ip"></td>
                  <td><button class="btn btn-info" (click)="addNewController()">Save</button></td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div *ngFor="let controller of controllers">
        <div class="card">
          <div class="card-header">

            <form [formGroup]="newControllerForm">

              <div class="float-left">
                <input id="inputName" class="input" [value]="controller.name" type="text"
                  formControlName="name" required="true">
              </div>
              <div class="float-none">
                <label class="label" for="inputIP">IP : </label>
                <input id="inputIP" class="input" [value]="controller.ip" type="text"
                  formControlName="ip" required="true">
              </div>
            </form>

            <a class="float-right" *ngIf="saveDeleteBoolean" (click)="deleteController(controller)"><img
                src="assets/images/delete-button.png"></a>
            <a class="float-right" *ngIf="saveDeleteBoolean" (click)="updateControllerInfo(controller)"><img
                src="assets/images/save-button.png"></a>
            <a class="float-right" (click)="editController(editControllerBoolean)"><img src="assets/images/edit-button.png"></a>

          </div>
          <div class="card-body">
            <table class="table">

              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Change</th>
                  <th *ngIf="saveDeleteBoolean"></th>
                </tr>
              </thead>
              <tbody *ngFor="let windows of controller['windows']">
                <tr>
                  <td>{{windows.id}}</td>
                  <td>
                    <input class="input" type="text" [(ngModel)]="windows.name" [disabled]="!saveDeleteBoolean"></td>
                  <td>{{windows.status}}</td>
                  <td>
                    <ui-switch [checked]="windows.status" (change)="changeWindowsStatus = !changeWindowsStatus"
                      (click)="changeStatus(windows, controller)"></ui-switch>
                  </td>
                  <td *ngIf="saveDeleteBoolean">
                    <a class="float-right" (click)="deleteWindows(windows, controller)"><img
                        src="assets/images/delete-button.png"></a>
                    <a class="float-right" (click)="updateWindows(controller)"><img
                          src="assets/images/save-button.png"></a>
                  </td>
                </tr>

              </tbody>

            </table>

            <div class="card" *ngIf="controller.windows?.length < 5">
              <div class="card-header">
                <button class="btn btn-info float-right" (click)="addWindowsController()">Add new
                  Window</button>
              </div>
              <div class="card-body" *ngIf="addWindowsBoolean">
                <form [formGroup]="newFormWindows">
                  <table class="table">
                    <thead>
                      <tr>
                        <td>Name</td>
                        <td>Status</td>
                        <td>Save</td>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td>
                          <input type="text" formControlName="name">
                        </td>
                        <td>
                          <ui-switch [checked]="newWindowsCheck"></ui-switch>
                        <td><button class="btn btn-info" (click)="addNewWindows(controller)">Save</button></td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
