/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.col-lg-12 {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {

 margin-bottom: 10px;
}
